.sidebar {
  position: fixed;
  top: 71px;
  bottom: 0px;
  left: 0px;
  z-index: 3;
  margin-bottom: -9999px;
  padding-bottom: 9999px;
  width: 232px;
  background-color: #FFF;
  border-right: 1px solid #E8E8E8;
}

.sidebar .sidebar-head {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
  color: #000;
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
}

.sidebar .feed-list .feed-list-item {
  position: relative;
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar .feed-list .feed-list-item a {
  font-size: 16px;
  padding: 10px 20px 10px 24px;
  display: block;
  font-size: 14px;
}
